body {
      color: #CD5C5C ;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  color: #CD5C5C;
  background-color: lightpink;
}
h2 {
  text-indent: 80px;
  text-align: justify;
  letter-spacing: 2px;
  font-size: 2em;
}
h2.capitalize {
  text-transform: capitalize;
}
